# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

src/sift1M/
src/deep1b/
src/__pycache__/

vtune_data/
*.tar.gz

Miniforge3-Linux-x86_64.sh
Miniforge3-Linux-x86_64.sh*
xps-prc-ds-faiss-opt
xps-prc-ds-faiss-opt/*
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
